@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-thumb::-webkit-slider-thumb {
  @apply appearance-none w-2 h-3 bg-green-600 cursor-pointer;
}

.slider-thumb::-moz-range-thumb {
  @apply appearance-none w-2 h-3 bg-green-600 cursor-pointer rounded-none border-0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* synth-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title title"
    "oscillator filter lfo lfo global"
    "envelope envelope envelop envelope global"
    "keys keys keys keys keys"
} */